.menu_top {
    background-color: #202a36;
    width: 100%;
    display: grid;
    padding: 1em 2em;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 45px;
}

.menu_top .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
}

select.engine-select {
    padding: 0.5em 1em;
    border-color: #fff;
    background: #1f2833;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    height: 100%;
    min-width: 135px;
    margin-left: auto;
}

select.engine-select:focus {
    outline: none;
}

.menu_top .title .pulse-logo {
    max-height: 50px;
    width: 100%;
    max-width: 130px;
}

@media screen and (min-width: 960px) {
    .menu_top {
        grid-template-columns: auto max-content;
    }

    select.engine-select:hover {
        color: #fff;
        background: #e31165;
    }
}