/* Styling for placeholder image */


/* Body styling */
body {
    background-color: #192029;
    font-family: "Calibri",sans-serif;
}

/* Styling for chatbot container */
#chatbot {
    position: relative;
}
