.wrapper_bottom {
    position: relative;
    width: 100%;
    background-color: #242f3c;
    padding: 15px 20px;
    bottom: 0;
    display: grid;
    gap: 15px;
    grid-template-columns: auto max-content;
}

.wrapper_bottom .message_input_wrapper {
    display: inline-block;
    height: 100%;
    border-radius: 15px;
    border: 1px solid #fff;
    width: 100%;
    position: relative;
    padding: 0 20px;
}

.wrapper_bottom .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    width: calc(100% - 39px);
    position: absolute;
    outline-width: 0;
    font-weight: 600;
    color: #fff;
    background-color: #242f3c;
}

.wrapper_bottom .send_message {
    width: fit-content;
    padding: 15px;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    background-color: #e31165;
    border: 2px solid #e31165;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

.wrapper_bottom .send_message .text div {
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
}

.message_template {
    display: none;
}

.wrapper_bottom .send_message .text .sending {
    display: none;
}

body.thinking .wrapper_bottom .send_message .text .sending {
    display: flex;
}

body.thinking .wrapper_bottom .send_message .text .send {
    display: none;
}

.wrapper_bottom .send_message .text .sending svg {
    animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 960px) {
    .wrapper_bottom .send_message .text span {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    .wrapper_bottom .send_message {
        padding: 0 15px;
        border-radius: 15px;
    }

    .wrapper_bottom .send_message:hover {
        color: #e31165;
        background-color: #fff;
    }
}