.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color:#1f2833;
    padding: 20px 20px;
    bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: #fff;
    background-color: #1f2833;
}
.bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #e31165;
    border: 2px solid #e31165;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}
.bottom_wrapper .send_message:hover {
    color: #e31165;
    background-color: #fff;
}
.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.message_template {
    display: none;
}
.text {
    

}